@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");
body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Assistant", sans-serif;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #ffffff;
  opacity: 80%;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
  list-style: none;
  font-style: oblique;
  float: right;
  color: green;
  border: 5px;
}

nav ul li {
  display: inline;
  padding: 5px;
  color: pink;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 23px;
}

section {
  margin-top: 100px;
}

#welcome-section {
  height: 100vh;
}

#wlcm-parent {
  display: flex;
  direction: justify-content;
}

#wlcm-right,
#wlcm-left {
  width: 50%;
}

img#interview-img {
  width: 20em;
  height: 20em;
}

.card a {
  text-decoration: none;
  color: inherit;
}

.container-card-grid {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  align-items: center;
}

img {
  width: 400px;
  height: 300px;
}

.project-tile {
  width: 400px;
  height: 300px;
  margin: 25px;
  transition: all 200ms ease-out;
}

.project-tile:hover {
  opacity: 30%;
  transform: translateY(10px);
}
