@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");

body {
  background-color: #333333;
  color: bisque;
  font-family: "Croissant One", sans-serif;
}

h1 {
  font-family: "Nanum Pen Script", cursive;
}

.flex-card a {
  text-decoration: none;
  color: inherit;
}

.container-card {
  display: flex;
  justify-content: space-around;
  flex-flow: row;
}

.flex-card {
  width: 200px;
  height: 200px;
}
