@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");
body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Assistant", sans-serif;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #ffffff;
  opacity: 80%;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
  margin-right: 2em;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 23px;
  margin: 10px;
}

section {
  margin-top: 100px;
}

#welcome-section {
  height: 100vh;
}

#wlcm-parent {
  display: flex;
  direction: justify-content;
}

#wlcm-right,
#wlcm-left {
  width: 50%;
}

#wlcm-right {
  padding: 5em;
}

h2 {
  text-align: center;
}

input {
  padding: 13px 40px;
}

button,
.input-btn {
  padding: 13px 30px;
  border: 2px solid #000000;
  background-color: #000000;
  cursor: pointer;
  transition: all 200ms ease-out;
  color: #fece2f;
}

button:hover,
.input-btn:hover {
  border: 2px solid #fece2f;
  background-color: #fece2f;
  color: #000000;
}

img#interview-img {
  width: 20em;
  height: 20em;
}

.project-section {
  border: 5px solid black;
}
.wrapper-container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 2rem 1rem;
}
.wrapper {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.wrapper div {
  background-color: pink;
  color: blueviolet;
  font-size: 24px;
  list-style-type: none;
  padding: 5rem 1rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
}

.grid-img {
  width: 60px;
  height: 60px;
}

p.text,
.btn-process {
  font-size: 20px;
}

.btn-process {
  padding: 10px 15px;
}

img {
  width: 400px;
  height: 300px;
}

#contact {
  height: 50vh;
  background-color: #fcffcd;
  padding: 3em;
}

p.text-contact {
  text-align: center;
  margin-top: 2em;
}

img.icon {
  width: 50px;
  height: 50px;
  transition: transform 0.8s ease-in-out;
  margin: 5px;
}

img.icon:hover {
  transform: translateY(-20px) rotate(360deg);
}

small {
  font-size: 15px;
}
